openapi: 3.0.4
info:
  title: Participant APIs v29.0 | REST
  description: 'Use these APIs to embed WealthCare Portal (WCP) and Mobile (WCM) functionality. You can use them to build or expand your own member portal, mobile app or IVR.'
  contact:
    name: Alegeus
    url: https://www.alegeus.com/contact-us
    email: support@alegeus.com
  license:
    name: See Terms of Service
    url: https://www.alegeus.com
  version: '29.0'
servers:
  - url: https://api.wealthcare.com/participant
paths:
  /healthz:
    get:
      tags:
        - HealthCheck
      summary: Health Check
      description: 'Returns the health status of the API, indicating whether it is operational and ready to handle requests.'
      operationId: HealthCheck
      responses:
        '200':
          description: 'Successful response indicating the API is healthy, along with detailed health check results.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResultList'
        '500':
          description: 'Indicates a server error occurred, which may prevent the API from functioning properly.'
          content:
            application/json:
              schema:
                type: string
  '/challenge/{user}':
    post:
      tags:
        - Challenge
      summary: Get security challenge questions (XML format)
      description: 'Retrieve a list of security challenge questions associated with a specific user, which can be used for authentication purposes.'
      operationId: Challenge_Challenge
      responses:
        '200':
          description: Successfully retrieved the security challenge questions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChallengeUserPost200ApplicationJsonResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ChallengeUserPost200ApplicationJsonResponse'
    parameters:
      - $ref: '#/components/parameters/userPath'
  '/challenge/questions/{user}':
    get:
      tags:
        - Challenge
      summary: Get security challenge questions
      description: 'Retrieve a list of security challenge questions associated with a specific user, identified by their username. This endpoint is typically used during authentication processes to verify user identity.'
      operationId: Challenge_GetQuestions
      parameters:
        - name: handshakeToken
          in: query
          description: A token used to establish a secure connection for the request. This token is required to authenticate the request and ensure that it is coming from a valid source.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved the security challenge questions for the specified user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Mobile-QuestionArray'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Mobile-QuestionArray'
    parameters:
      - $ref: '#/components/parameters/userPath'
  '/challenge/questions/answers/{user}':
    post:
      tags:
        - Challenge
      summary: Submit Security challenge answers
      description: 'Submits the answers to security challenge questions for a specified user, enabling the user to verify their identity.'
      operationId: Challenge_SubmitAnswers
      requestBody:
        description: A collection of security question answers provided by the user to authenticate their identity.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Mobile-UserQuestionAnswerArray'
          application/xml:
            schema:
              $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Mobile-UserQuestionAnswerArray'
      responses:
        '200':
          description: 'Successfully processed the security challenge answers, returning a site key for further actions.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.SiteKey'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.SiteKey'
    parameters:
      - $ref: '#/components/parameters/userPath'
  '/devenirsso/{tpaId}/{employerId}/{participantId}':
    post:
      tags:
        - DevenirSSO
      summary: Get Devenir SSO URL
      description: 'Retrieve the Devenir Single Sign-On (SSO) URL for a specific participant, identified by their TPA ID, Employer ID, and Participant ID. This endpoint is typically used to facilitate secure access to the Devenir platform for participants.'
      operationId: DevenirSSO_GetSSOUrl
      parameters:
        - $ref: '#/components/parameters/decryptQuery'
      requestBody:
        description: 'The request body must contain the necessary information to generate the SSO URL, including the trust account number and its encryption status.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.Employee.DevenirSSORequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.Employee.DevenirSSORequest'
      responses:
        '200':
          description: Successfully retrieved the SSO URL for the specified participant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevenirssoTpaIdEmployerIdParticipantIdPost200ApplicationJsonResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/DevenirssoTpaIdEmployerIdParticipantIdPost200ApplicationXmlResponse'
    parameters:
      - $ref: '#/components/parameters/tpaIdPath'
      - $ref: '#/components/parameters/employerIdPath'
      - $ref: '#/components/parameters/participantIdPath'
  /handshake:
    post:
      tags:
        - HandShake
      summary: Get handshake token
      description: Initiates a handshake process to obtain a secure token for subsequent API requests. This token is essential for authenticating and authorizing further interactions with the API.
      operationId: HandShake_HandShake
      responses:
        '200':
          description: Successfully retrieved the handshake token. The response contains a token that must be included in subsequent requests to authenticate the user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.IO.Stream'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.IO.Stream'
  /handshake/bootstrap:
    post:
      tags:
        - HandShake
      summary: Get client information from handshake and settings
      description: This endpoint retrieves client information and settings necessary for establishing a handshake with the WealthCare system. It is typically used during the initial setup or configuration of client applications.
      operationId: HandShake_ClientInfo
      responses:
        '200':
          description: Successfully retrieved client information and settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Security.ClientInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Security.ClientInfo'
  '/services/datapartner/datapartnerbankaccount/{dataPartnerId}':
    get:
      tags:
        - DataPartner
      summary: Get Data Partner GL Accounts and Associated Tran Code List.
      description: Retrieve the general ledger (GL) accounts and their associated transaction codes for a specific data partner identified by their unique Data Partner ID.
      operationId: DataPartner_GetDataPartnerBankAccounts
      responses:
        '200':
          description: Successfully retrieved the data partner's GL accounts and transaction codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Mobile-Business-DataPartner-DataPartnerBankA'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Mobile-Business-DataPartner-DataPartnerBankA'
    parameters:
      - $ref: '#/components/parameters/dataPartnerIdPath'
  '/services/datapartner/datapartnerbankaccount/{dataPartnerId}/{dataPartnerBankAccountKey}':
    get:
      tags:
        - DataPartner
      summary: Get Data Partner GL Account and Associated Tran Code.
      description: 'Retrieve the General Ledger (GL) account details and associated transaction code for a specific data partner bank account, identified by its unique keys.'
      operationId: DataPartner_GetDataPartnerBankAccount
      responses:
        '200':
          description: Successfully retrieved the data partner bank account details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.DataPartner.DataPartnerBankAccount'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.DataPartner.DataPartnerBankAccount'
    parameters:
      - $ref: '#/components/parameters/dataPartnerIdPath'
      - name: dataPartnerBankAccountKey
        in: path
        description: Data Partner Bank Account Key
        required: true
        schema:
          type: integer
          format: int32
  /services/datapartner/datapartnerbankaccount:
    put:
      tags:
        - DataPartner
      summary: Update DataPartner GL Bank Account Details.
      description: 'Update the GL bank account details for a specific DataPartner, allowing for modifications to account information as needed.'
      operationId: DataPartner_UpdateDataPartnerBankAccount
      requestBody:
        description: 'Data Partner Bank Account Details, which includes all relevant information for the bank account associated with the DataPartner.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.DataPartner.DataPartnerBankAccount'
          application/xml:
            schema:
              $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.DataPartner.DataPartnerBankAccount'
      responses:
        '200':
          description: Successfully updated the bank account details. The response contains the updated bank account information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.DataPartner.DataPartnerBankAccount'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.DataPartner.DataPartnerBankAccount'
    post:
      tags:
        - DataPartner
      summary: Add DataPartner GL Bank Account.
      description: This endpoint allows you to add a General Ledger (GL) bank account for a specific Data Partner. It is typically used when establishing a new bank account for financial transactions related to the Data Partner.
      operationId: DataPartner_InsertDataPartnerBankAccount
      requestBody:
        description: Data Partner Bank Account Details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.DataPartner.DataPartnerBankAccount'
          application/xml:
            schema:
              $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.DataPartner.DataPartnerBankAccount'
      responses:
        '200':
          description: Successfully added the Data Partner bank account. The response contains the details of the newly created bank account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.DataPartner.DataPartnerBankAccount'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.DataPartner.DataPartnerBankAccount'
  '/services/datapartner/customText/{dataPartnerId}/{resourceKey}':
    get:
      tags:
        - DataPartner
      summary: Get a specific item in Data Partner Custom Text collection
      description: Retrieve a specific item from the Data Partner Custom Text collection using the provided Data Partner ID and resource key. This operation is useful for fetching custom text configurations that may vary based on the data partner's requirements.
      operationId: DataPartner_GetCustomText
      parameters:
        - name: productId
          in: query
          description: 'The product ID for placeholder replacements. If this parameter is omitted, the placeholders in the text are returned as-is; otherwise, they are replaced with corresponding values indexed by the provided product ID.'
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicesDatapartnerCustomTextDataPartnerIdResourceKeyGet200ApplicationJsonRe'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServicesDatapartnerCustomTextDataPartnerIdResourceKeyGet200ApplicationXmlRes'
    post:
      tags:
        - DataPartner
      summary: Set a specific item in Data Partner Custom Text collection
      description: 'Update a specific item in the Data Partner Custom Text collection identified by the resource key. This operation is typically used to modify text entries associated with a data partner, ensuring that the latest information is stored.'
      operationId: DataPartner_SetDataPartnerCustomText
      requestBody:
        description: 'The item text in the Data Partner Custom Text collection, which should conform to the specified schema. This data is used to update or create a text entry for the specified data partner.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomText'
          application/xml:
            schema:
              $ref: '#/components/schemas/CustomText'
      responses:
        '204':
          description: 'No Content - The request was successful, and the item was updated without returning any content.'
    parameters:
      - $ref: '#/components/parameters/dataPartnerIdPath'
      - name: resourceKey
        in: path
        description: Resource key of the item in the collection
        required: true
        schema:
          type: integer
          format: int32
  '/services/datapartner/customText/{dataPartnerId}':
    get:
      tags:
        - DataPartner
      summary: Get the entire Data Partner Custom Text collection
      description: 'Retrieve the complete collection of custom text associated with a specific Data Partner, identified by `dataPartnerId`. This endpoint is useful for fetching text content that can be dynamically replaced based on the context of the product.'
      operationId: DataPartner_GetDataPartnerCustomTexts
      parameters:
        - name: productId
          in: query
          description: 'The productId for placeholder replacements. If this parameter is not provided, the placeholders in the text will be returned unchanged; otherwise, they will be replaced with corresponding values indexed by the provided product Id.'
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicesDatapartnerCustomTextDataPartnerIdGet200ApplicationJsonResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServicesDatapartnerCustomTextDataPartnerIdGet200ApplicationXmlResponse'
    post:
      tags:
        - DataPartner
      summary: Set the entire Data Partner Custom Text collection
      description: 'Updates the entire collection of custom text entries for a specified Data Partner, allowing for bulk modifications of text configurations.'
      operationId: DataPartner_SetDataPartnerCustomTexts
      requestBody:
        description: The entire Data Partner Custom Text collection to be updated. This collection should adhere to the specified schema and contain all necessary text entries for the Data Partner.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomTexts'
          application/xml:
            schema:
              $ref: '#/components/schemas/CustomTexts'
      responses:
        '204':
          description: 'No Content - Indicates that the request was successful, and the custom text collection has been updated without returning any content.'
    parameters:
      - $ref: '#/components/parameters/dataPartnerIdPath'
  '/services/datapartner/datapartnercustomtext/{dataPartnerId}/{customTextOption}/{ctype}':
    get:
      tags:
        - DataPartner
      summary: This Method gets the Data Partner Custom Text
      description: 'Retrieve custom text associated with a specific data partner, identified by their unique ID and custom text options. This endpoint is useful for fetching configuration or display text relevant to a data partner''s operations.'
      operationId: DataPartner_GetDataPartnerCustomText
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-DataPartner-DataPartnerCustomTextAr'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-DataPartner-DataPartnerCustomTextAr'
    parameters:
      - $ref: '#/components/parameters/dataPartnerIdPath'
      - name: customTextOption
        in: path
        description: 'Custom Text Option. 1:   CIPType.'
        required: true
        schema:
          type: integer
          format: int32
      - name: ctype
        in: path
        description: "Custom Text Type. 16:   IDV_DOB_AFTER_END_ISSUE_DATE,\r\n                                                  64:   ENROLLEE_IN_DECEASED_FILE,\r\n                                                  128:  IDV_ENROLLEE_UNDER_AGED"
        required: true
        schema:
          type: integer
          format: int32
  /services/datapartner/datapartnercustomtext:
    post:
      tags:
        - DataPartner
      summary: This Method is used to Save Data Partner Custom Text
      description: This endpoint allows you to save custom text associated with a specific data partner. It is typically used to update or create custom messaging that can be displayed in the WealthCare Portal or Mobile application.
      operationId: DataPartner_SaveDataPartnerCustomText
      requestBody:
        description: Data Partner Custom Text Details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Business.DataPartner.DataPartnerCustomText'
          application/xml:
            schema:
              $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Business.DataPartner.DataPartnerCustomText'
      responses:
        '204':
          description: 'No Content - The request was successful, and no content is returned. This indicates that the custom text has been saved successfully without any errors.'
  '/services/datapartner/publictext/{tpaId}/{employerId}/{participantId}/{dataPartnerId}':
    get:
      tags:
        - DataPartner
      summary: This method gets Introduction Text and Certification Text of the Data Partner
      description: 'Retrieve the Introduction and Certification Text associated with a specific Data Partner, identified by unique identifiers including TPA ID, Employer ID, Participant ID, and Data Partner ID. This endpoint is useful for obtaining essential information that may be displayed to participants or used in communications.'
      operationId: DataPartner_GetDataPartnerPublicText
      parameters:
        - $ref: '#/components/parameters/decryptQuery'
      responses:
        '200':
          description: Successfully retrieved the requested Data Partner information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.DataPartner.DataPartner'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.DataPartner.DataPartner'
    parameters:
      - $ref: '#/components/parameters/tpaIdPath'
      - $ref: '#/components/parameters/employerIdPath'
      - $ref: '#/components/parameters/participantIdPath'
      - $ref: '#/components/parameters/dataPartnerIdPath'
  '/services/document/management/catetgory/{tpaId}':
    get:
      tags:
        - DocumentManagement
      summary: Get a list of document categories.
      description: Retrieve a list of document categories associated with a specific TPA (Third Party Administrator) identified by the `tpaId`. This endpoint is useful for applications that need to display available document categories to users for selection or filtering purposes.
      operationId: DocumentManagement_GetDocumentCategories
      parameters:
        - $ref: '#/components/parameters/decryptQuery'
        - name: Accept-Language
          in: header
          description: 'Specify the participant’s language preference. The response will return text/string values in the specified language, defaulting to English if not specified or if an invalid value is sent. If Spanish or French is requested and a particular field does not have a translated value, the English text value will be returned.'
          schema:
            enum:
              - es
              - en
              - fr
            type: string
      responses:
        '200':
          description: Successfully retrieved the list of document categories.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Document-DocumentCategoryArray'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Document-DocumentCategoryArray'
    put:
      tags:
        - DocumentManagement
      summary: Update a list of document categories
      description: Update the document categories associated with a specific TPA (Third Party Administrator) identified by the `tpaId`. This operation is typically used to modify or refresh the document categories available in the system.
      operationId: DocumentManagement_UpdateDocumentCategories
      parameters:
        - name: refresh
          in: query
          description: 'Indicates whether to return the updated list of document categories after saving. Set to true to receive the updated list, or false to receive an empty response.'
          schema:
            type: boolean
        - $ref: '#/components/parameters/decryptQuery'
      requestBody:
        description: Document Category Details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Document-DocumentCategoryArray'
          application/xml:
            schema:
              $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Document-DocumentCategoryArray'
      responses:
        '200':
          description: Successfully updated the document categories. The response includes the updated list of document categories in the requested format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Document-DocumentCategoryArray'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Document-DocumentCategoryArray'
    post:
      tags:
        - DocumentManagement
      summary: Add a new document category.
      description: This endpoint allows you to create a new document category associated with a specific TPA (Third Party Administrator) identified by the `tpaId`. It is typically used when you need to organize documents under a new category for better management and retrieval.
      operationId: DocumentManagement_AddDocumentCategory
      parameters:
        - name: refresh
          in: query
          description: 'Indicates whether to return the updated list of document categories after the new category is saved. Set to true to receive the updated list, or false to receive no content.'
          schema:
            type: boolean
        - $ref: '#/components/parameters/decryptQuery'
      requestBody:
        description: 'Contains the details of the document category to be added, including its name and display order. This data is essential for categorizing documents effectively within the system.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Business.Document.DocumentCategoryAddRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Business.Document.DocumentCategoryAddRequest'
      responses:
        '200':
          description: Successfully created the document category. The response includes the updated list of document categories if the `refresh` parameter is set to true.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Document-DocumentCategoryArray'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Document-DocumentCategoryArray'
    parameters:
      - $ref: '#/components/parameters/tpaIdPath'
  '/services/document/management/catetgory/delete/{tpaId}':
    post:
      tags:
        - DocumentManagement
      summary: Delete a list of document categories.
      description: This endpoint allows you to delete specified document categories associated with a given TPA ID. It is primarily used to manage and clean up document categories that are no longer needed in the system.
      operationId: DocumentManagement_DeleteDocumentCategories
      parameters:
        - name: refresh
          in: query
          description: Indicates whether to return the updated list of document categories after deletion (true) or an empty response (false).
          schema:
            type: boolean
        - $ref: '#/components/parameters/decryptQuery'
      requestBody:
        description: A collection of document categories to be deleted. Each category is identified by its unique keys.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Document-DocumentCategoryDeleteRequ'
          application/xml:
            schema:
              $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Document-DocumentCategoryDeleteRequ'
      responses:
        '200':
          description: Successfully deleted the specified document categories. The response will contain the updated list of remaining document categories if the `refresh` parameter is set to true.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Document-DocumentCategoryArray'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Document-DocumentCategoryArray'
    parameters:
      - $ref: '#/components/parameters/tpaIdPath'
  '/services/document/management/audience/{tpaId}':
    get:
      tags:
        - DocumentManagement
      summary: Get a list of document audiences.
      description: 'Retrieve a list of document audiences associated with a specific TPA ID, which can be used to manage document distribution and visibility for different audience segments.'
      operationId: DocumentManagement_GetDocumentAudiences
      parameters:
        - $ref: '#/components/parameters/decryptQuery'
      responses:
        '200':
          description: Successfully retrieved the list of document audiences.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Document-DocumentAudienceArray'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Document-DocumentAudienceArray'
    put:
      tags:
        - DocumentManagement
      summary: Update a document audience
      description: 'Update the audience settings for a specific document identified by the TPA ID. This operation is used to modify the audience parameters, such as which employers or divisions can access the document.'
      operationId: DocumentManagement_UpdateDocumentAudience
      parameters:
        - name: refresh
          in: query
          description: Indicates whether to return the updated document audience after saving. Set to true to receive the updated audience details; false will return an empty response.
          schema:
            type: boolean
        - $ref: '#/components/parameters/decryptQuery'
      requestBody:
        description: Document Audience Details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Business.Document.DocumentAudience'
          application/xml:
            schema:
              $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Business.Document.DocumentAudience'
      responses:
        '200':
          description: Successfully updated the document audience. The response contains the updated audience details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Business.Document.DocumentAudience'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Business.Document.DocumentAudience'
    post:
      tags:
        - DocumentManagement
      summary: Add a new document audience
      description: 'Create a new document audience for a specific TPA, allowing for the organization and management of document access based on defined audience criteria.'
      operationId: DocumentManagement_AddDocumentAudience
      parameters:
        - name: refresh
          in: query
          description: Indicates whether to return the saved document audience details (true) or an empty response (false) after creation.
          schema:
            type: boolean
        - $ref: '#/components/parameters/decryptQuery'
      requestBody:
        description: Document Audience Details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Business.Document.DocumentAudience'
          application/xml:
            schema:
              $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Business.Document.DocumentAudience'
      responses:
        '200':
          description: 'Successfully created the document audience, returning the audience details.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Business.Document.DocumentAudience'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Business.Document.DocumentAudience'
    parameters:
      - $ref: '#/components/parameters/tpaIdPath'
  '/services/document/management/audience/{tpaId}/{audienceId}':
    get:
      tags:
        - DocumentManagement
      summary: Get a doucment audience.
      description: Retrieve detailed information about a specific document audience identified by TPA ID and audience ID. This operation is useful for understanding the composition and characteristics of the audience associated with a document.
      operationId: DocumentManagement_GetDocumentAudience
      parameters:
        - $ref: '#/components/parameters/decryptQuery'
      responses:
        '200':
          description: Successfully retrieved the document audience details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Business.Document.DocumentAudience'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Business.Document.DocumentAudience'
    delete:
      tags:
        - DocumentManagement
      summary: Delete a document audience
      description: 'Deletes a specified document audience identified by TPA ID and audience ID, effectively removing it from the system.'
      operationId: DocumentManagement_DeleteDocumentAudience
      parameters:
        - name: refresh
          in: query
          description: Indicates whether to return the updated list of document audiences after deletion (true) or an empty response (false).
          schema:
            type: boolean
        - $ref: '#/components/parameters/decryptQuery'
      responses:
        '200':
          description: Successfully deleted the document audience. The response contains the updated list of document audiences if the `refresh` parameter is set to true.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Document-DocumentAudienceArray'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Document-DocumentAudienceArray'
    parameters:
      - $ref: '#/components/parameters/tpaIdPath'
      - name: audienceId
        in: path
        description: Document audience Id
        required: true
        schema:
          type: string
  '/services/document/management/audience/delete/{tpaId}':
    post:
      tags:
        - DocumentManagement
      summary: Delete a list of document audiences
      description: This endpoint allows you to delete specified document audiences associated with a given TPA ID. It is used when you need to remove audiences that are no longer relevant or needed for document distribution.
      operationId: DocumentManagement_DeleteDocumentAudiences
      parameters:
        - name: refresh
          in: query
          description: Indicates whether to return the updated list of document audiences after deletion (true) or an empty response (false).
          schema:
            type: boolean
        - $ref: '#/components/parameters/decryptQuery'
      requestBody:
        description: A collection of document audience objects that need to be deleted. Each object specifies the TPA ID and the audience key to identify the audience for deletion.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Document-DocumentAudienceDeleteRequ'
          application/xml:
            schema:
              $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Document-DocumentAudienceDeleteRequ'
      responses:
        '200':
          description: Successfully deleted the specified document audiences. The response contains the updated list of remaining audiences if the `refresh` parameter is set to true.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Document-DocumentAudienceArray'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Document-DocumentAudienceArray'
    parameters:
      - $ref: '#/components/parameters/tpaIdPath'
  '/services/document/management/audience/memeber/{tpaId}':
    get:
      tags:
        - DocumentManagement
      summary: 'Get a list of unselected employers, divisions, subgroups and plans for document audience setup'
      description: 'Retrieves a list of unselected employers, divisions, subgroups, and plans associated with a specific document audience, identified by the TPA ID.'
      operationId: DocumentManagement_GetDocumentAudienceUnselectedMember
      parameters:
        - name: audienceId
          in: query
          description: 'The unique identifier for the document audience, used to filter the results to a specific audience setup.'
          required: true
          schema:
            type: string
        - name: searchText
          in: query
          description: A string to initiate a search for employers by name. This allows for filtering the results based on the employer name.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/decryptQuery'
      responses:
        '200':
          description: Successful retrieval of the document audience members.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Business.Document.DocumentAudienceMember'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Business.Document.DocumentAudienceMember'
    parameters:
      - $ref: '#/components/parameters/tpaIdPath'
  '/services/document/management/document/{tpaId}':
    get:
      tags:
        - DocumentManagement
      summary: Get a list of documents
      description: 'Retrieve a list of documents associated with a specific TPA ID, allowing users to access relevant documentation based on their preferences and permissions.'
      operationId: DocumentManagement_GetDocuments
      parameters:
        - name: Accept-Language
          in: header
          description: 'Specify the participant’s language preference for the response. The API will return text in the specified language, defaulting to English if not provided or if an invalid value is sent. If a requested language lacks a translation for a specific field, the English text will be returned.'
          schema:
            enum:
              - es
              - en
              - fr
            type: string
        - name: retrieveOptions
          in: query
          description: 'Defines the source of documents to retrieve. Options include: Hidden = 1, AllEmployer = 2, SelectedEmployer = 3, DocumentAudience = 4, All = 10. The choice of option influences the documents returned based on visibility and audience.'
          schema:
            enum:
              - None
              - Hidden
              - AllEmployer
              - SelectedEmployer
              - DocumentAudience
              - All
            type: string
        - name: employerId
          in: query
          description: 'Unique identifier for the employer, assigned by WealthCare Admin. This parameter is required when retrieveOptions is set to 2 (AllEmployer) to filter documents accordingly.'
          schema:
            type: string
        - name: audienceId
          in: query
          description: Identifier for the audience. This parameter is mandatory when retrieveOptions is set to 4 (DocumentAudience) to ensure the correct documents are retrieved for the specified audience.
          schema:
            type: string
        - $ref: '#/components/parameters/decryptQuery'
      responses:
        '200':
          description: Successfully retrieved the list of documents.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Document-DocumentDetailsArray'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Document-DocumentDetailsArray'
    put:
      tags:
        - DocumentManagement
      summary: Update a document
      description: 'Update the details of a specific document identified by its TPA ID. This operation is used to modify existing document information, such as name, description, and associated files.'
      operationId: DocumentManagement_UpdateDocument
      parameters:
        - name: refresh
          in: query
          description: Indicates whether to return the updated document after saving (true) or an empty response (false). Default is false.
          schema:
            type: boolean
        - $ref: '#/components/parameters/decryptQuery'
      requestBody:
        description: Update Document Details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Business.Document.UpdateDocumentRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Business.Document.UpdateDocumentRequest'
      responses:
        '200':
          description: Successfully updated the document. The response contains the updated document details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Business.Document.DocumentDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Business.Document.DocumentDetails'
    post:
      tags:
        - DocumentManagement
      summary: Add a new document
      description: 'Allows you to add a new document associated with a specific TPA (Third Party Administrator) identified by their unique TPA ID. This operation is typically used to upload documents such as contracts, policies, or other relevant files for record-keeping and management purposes.'
      operationId: DocumentManagement_AddDocument
      parameters:
        - name: refresh
          in: query
          description: 'Indicates whether to return the document details after saving. Set to true to return the saved document, or false to receive an empty response.'
          schema:
            type: boolean
        - $ref: '#/components/parameters/decryptQuery'
      requestBody:
        description: 'Contains the details of the new document to be added, including metadata and file information. Ensure that the request body adheres to the specified schema for successful processing.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Business.Document.AddDocumentRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Business.Document.AddDocumentRequest'
      responses:
        '200':
          description: Successfully added the document. The response contains the details of the newly created document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Business.Document.DocumentDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Business.Document.DocumentDetails'
    parameters:
      - $ref: '#/components/parameters/tpaIdPath'
  '/services/document/management/document/{tpaId}/{documentId}':
    get:
      tags:
        - DocumentManagement
      summary: Get a document details
      description: Get a document details
      operationId: DocumentManagement_GetDocument
      parameters:
        - $ref: '#/components/parameters/decryptQuery'
        - name: Accept-Language
          in: header
          description: 'Specify the participant’s language preference. The corresponding response will then return text/string values in the language specified, defaulting to English if not specified or if an invalid value is sent.  Note: If Spanish or French is requested and a particular field does not have a translated value (Spanish or French), then the English text value will be returned.'
          schema:
            enum:
              - es
              - en
              - fr
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Business.Document.DocumentDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Business.Document.DocumentDetails'
    delete:
      tags:
        - DocumentManagement
      summary: Delete a document
      description: Deletes a specified document identified by its TPA ID and Document ID.
      operationId: DocumentManagement_DeleteDocument
      parameters:
        - name: isLegacyDocument
          in: query
          description: 'Indicates whether the document is a legacy document. Set to `true` if it is a legacy document; otherwise, set to `false`.'
          schema:
            type: boolean
        - name: refresh
          in: query
          description: Determines the response after deletion. Set to `true` to return the updated list of documents after deletion; set to `false` to return an empty response.
          schema:
            type: boolean
        - $ref: '#/components/parameters/decryptQuery'
      responses:
        '200':
          description: Successfully deleted the document. The response includes the updated list of documents if the `refresh` parameter is set to `true`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Document-DocumentDetailsArray'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Document-DocumentDetailsArray'
    parameters:
      - $ref: '#/components/parameters/tpaIdPath'
      - name: documentId
        in: path
        description: Document Id
        required: true
        schema:
          type: string
  '/services/document/management/document/delete/{tpaId}':
    post:
      tags:
        - DocumentManagement
      summary: Delete a list of documents
      description: This endpoint allows you to delete a specified list of documents associated with a particular TPA ID. It is typically used when documents are no longer needed or need to be removed for compliance or organizational purposes.
      operationId: DocumentManagement_DeleteDocuments
      parameters:
        - name: refresh
          in: query
          description: Indicates whether to return the updated list of documents after deletion (true) or an empty response (false). Default is false.
          schema:
            type: boolean
        - $ref: '#/components/parameters/decryptQuery'
      requestBody:
        description: 'A collection of documents to be deleted, specified in the request body. Each document must include its unique identifiers to ensure accurate deletion.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Document-DocumentDeleteRequestArray'
          application/xml:
            schema:
              $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Document-DocumentDeleteRequestArray'
      responses:
        '200':
          description: Successfully deleted the specified documents. The response includes the updated list of remaining documents if the `refresh` parameter is set to true.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Document-DocumentDetailsArray'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Document-DocumentDetailsArray'
    parameters:
      - $ref: '#/components/parameters/tpaIdPath'
  '/services/document/management/document/{tpaId}/{employerId}/{participantId}':
    get:
      tags:
        - DocumentManagement
      summary: Get a list of document a participant can access
      description: Retrieve a list of documents that a specific participant can access based on their unique identifiers. This operation is useful for displaying relevant documents to participants in the WealthCare Portal or Mobile application.
      operationId: DocumentManagement_GetDocumentsForParticipant
      parameters:
        - name: includeLegacyDocument
          in: query
          description: Indicates whether to include legacy portal documents in the response. Defaults to false if not specified.
          schema:
            type: boolean
        - $ref: '#/components/parameters/decryptQuery'
      responses:
        '200':
          description: Successfully retrieved the list of documents accessible to the participant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Document-DocumentDetailsArray'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Document-DocumentDetailsArray'
    parameters:
      - $ref: '#/components/parameters/tpaIdPath'
      - $ref: '#/components/parameters/employerIdPath'
      - $ref: '#/components/parameters/participantIdPath'
  '/services/document/management/document/employer/{tpaId}':
    get:
      tags:
        - DocumentManagement
      summary: Get a list of unselected employers for a document setup
      description: 'Retrieve a list of employers that have not yet been selected for a specific document setup, identified by the TPA ID. This operation is useful for administrators to manage document associations efficiently.'
      operationId: DocumentManagement_GetUnselectedEmployers
      parameters:
        - name: documentId
          in: query
          description: The unique identifier for the document for which unselected employers are being retrieved. This parameter is required to filter the results to a specific document context.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/decryptQuery'
      responses:
        '200':
          description: Successfully retrieved the list of unselected employers for the specified document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Document-EmployerArray'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Document-EmployerArray'
    parameters:
      - $ref: '#/components/parameters/tpaIdPath'
  '/services/datapartner/customEStatementOptInPDF/{dataPartnerId}':
    get:
      tags:
        - DataPartner
      summary: Data partner custom e-statement opt in PDF
      description: Retrieve the custom e-statement opt-in PDF for a specific data partner identified by their unique Data Partner ID.
      operationId: DataPartner_GetDataPartnerCustomEStatementOptInPDF
      responses:
        '200':
          description: Successfully retrieved the custom e-statement opt-in PDF.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Business.DataPartner.DataPartnerCustomEStatementOptInPDF'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Business.DataPartner.DataPartnerCustomEStatementOptInPDF'
    post:
      tags:
        - DataPartner
      summary: This method sets data partner custom e-statement opt in pdf
      description: This endpoint allows you to set a custom e-statement opt-in PDF for a specific data partner identified by their unique Data Partner ID. It is typically used to customize the e-statement experience for participants associated with that data partner.
      operationId: DataPartner_SetDataPartnerCustomEStatementOptInPDF
      requestBody:
        description: 'Details of Data Partner custom e-statement opt in PDF, including the file''s content and metadata.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Business.DataPartner.DataPartnerCustomEStatementOptInPDF'
          application/xml:
            schema:
              $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Business.DataPartner.DataPartnerCustomEStatementOptInPDF'
      responses:
        '204':
          description: 'No Content - The request was successful, and the custom e-statement opt-in PDF has been set without returning any content.'
    parameters:
      - $ref: '#/components/parameters/dataPartnerIdPath'
  '/services/documents/HSAStatements/{tpaId}/{employerId}/{participantId}':
    get:
      tags:
        - HSAStatements
      summary: Get HSA Statement List
      description: 'Retrieve a list of HSA statements for a specific participant, identified by their TPA ID, Employer ID, and Participant ID. This operation is useful for obtaining historical statements related to Health Savings Accounts (HSAs).'
      operationId: HSAStatements_GetHSAStatementsList
      parameters:
        - name: flexAcctId
          in: query
          description: 'A 10-character string representing an internal key assigned to a benefit account in the WCA system, used to uniquely identify the account. This value is left-padded with 0s, e.g., "0001699940".'
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/decryptQuery'
      responses:
        '200':
          description: 'Successfully retrieved the list of HSA statements. The response contains an array of statement objects, each representing an individual HSA statement with relevant details.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Statement-StatementResponseArray'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Statement-StatementResponseArray'
    parameters:
      - $ref: '#/components/parameters/tpaIdPath'
      - $ref: '#/components/parameters/employerIdPath'
      - $ref: '#/components/parameters/participantIdPath'
  '/services/documents/HSAStatements/{tpaId}/{employerId}/{participantId}/pdf':
    get:
      tags:
        - HSAStatements
      summary: Get HSA Statement PDF
      description: Get HSA Statement PDF
      operationId: HSAStatements_GetHSAStatementPDF_2106
      parameters:
        - name: flexAcctId
          in: query
          description: Flex Account Id
          required: true
          schema:
            type: string
        - name: documentKey
          in: query
          description: Document Key
          required: true
          schema:
            type: integer
            format: int32
        - $ref: '#/components/parameters/decryptQuery'
        - name: statementOption
          in: query
          description: "HSA Statement Options. None = 0, WCHSAStatement = 1, Resend = 2, Resent = 4, StatementError = 8,\r\n                                                                 StatementErrorResolved = 16, ResendOrigPref = 32, InternalGeneration = 64,\r\n                                                                 RegeneratedStatements = 128"
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicesDocumentsHSAStatementsTpaIdEmployerIdParticipantIdPdfGet200Applicati'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServicesDocumentsHSAStatementsTpaIdEmployerIdParticipantIdPdfGet200Applicati'
    parameters:
      - $ref: '#/components/parameters/tpaIdPath'
      - $ref: '#/components/parameters/employerIdPath'
      - $ref: '#/components/parameters/participantIdPath'
  '/services/documents/HSAStatements/deliveryOption/{tpaId}/{employerId}/{participantId}':
    get:
      tags:
        - HSAStatements
      summary: Get HSA Statement delivery option
      description: Get HSA Statement delivery option
      operationId: HSAStatements_GetHSAStatementsDeliveryOption
      parameters:
        - name: flexAcctId
          in: query
          description: Flex Account Id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/decryptQuery'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicesDocumentsHSAStatementsDeliveryOptionTpaIdEmployerIdParticipantIdGet2'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServicesDocumentsHSAStatementsDeliveryOptionTpaIdEmployerIdParticipantIdGet2-2'
    put:
      tags:
        - HSAStatements
      summary: Set HSA Statement delivery option
      description: 'Update the delivery option for HSA statements for a specific participant, allowing for either electronic delivery, paper delivery, or both. This operation is used to manage how participants receive their HSA statements based on their preferences.'
      operationId: HSAStatements_SetHSAStatementsDeliveryOption
      parameters:
        - name: flexAcctId
          in: query
          description: 'A unique identifier for the flex account, used to specify which account''s delivery option is being updated.'
          required: true
          schema:
            type: string
        - name: delOpt
          in: query
          description: 'Specifies the delivery options for HSA statements. Use ''E'' for Electronic Only, ''B'' for Both Paper and Electronic. This parameter determines how the statements will be delivered to the participant.'
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/decryptQuery'
      responses:
        '200':
          description: Successfully updated the delivery option for the specified participant's HSA statements. The response will include confirmation of the updated delivery settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicesDocumentsHSAStatementsDeliveryOptionTpaIdEmployerIdParticipantIdPut2'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServicesDocumentsHSAStatementsDeliveryOptionTpaIdEmployerIdParticipantIdPut2-2'
    parameters:
      - $ref: '#/components/parameters/tpaIdPath'
      - $ref: '#/components/parameters/employerIdPath'
      - $ref: '#/components/parameters/participantIdPath'
  '/services/documents/HSAStatements/deliveryOption/Fee/{tpaId}/{employerId}/{participantId}':
    get:
      tags:
        - HSAStatements
      summary: Get HSA Statement delivery option
      description: 'Retrieve the delivery options for HSA statements associated with a specific participant, identified by their TPA ID, Employer ID, and Participant ID.'
      operationId: HSAStatements_GetHSAStatementsDeliveryOptionWithFee
      parameters:
        - name: flexAcctId
          in: query
          description: 'Flex Account Id, which uniquely identifies the benefit account in the system. This parameter is required to specify the account for which the delivery options are being retrieved.'
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/decryptQuery'
      responses:
        '200':
          description: Successfully retrieved the delivery options for the specified HSA statement. The response contains details about the available delivery methods and any associated fees.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.Document.DocumentDeliveryOption'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.Document.DocumentDeliveryOption'
    parameters:
      - $ref: '#/components/parameters/tpaIdPath'
      - $ref: '#/components/parameters/employerIdPath'
      - $ref: '#/components/parameters/participantIdPath'
  '/services/documents/HSAStatements/reassoc/{tpaId}/{employerId}/{participantId}':
    get:
      tags:
        - HSAStatements
      summary: Get HSA Statement List for re-associated account.
      description: Retrieve a list of HSA statements for a participant's account that has been re-associated with a new TPA and employer. This endpoint is useful for accessing historical statement data after account re-association.
      operationId: HSAStatements_GetReassociatedHSAStatementsList
      parameters:
        - name: flexAccountId
          in: query
          description: The unique identifier for the flex account associated with the participant. This ID is required to filter the statements relevant to the specific account.
          required: true
          schema:
            type: string
        - name: reassocTpaId
          in: query
          description: The unique identifier for the re-associated Third Party Administrator (TPA). This parameter is necessary to identify the TPA managing the account after re-association.
          required: true
          schema:
            type: string
        - name: reassocEmployerId
          in: query
          description: The unique identifier for the re-associated employer. This ID helps in retrieving statements linked to the specific employer after the account has been re-associated.
          required: true
          schema:
            type: string
        - name: reassocParticipantId
          in: query
          description: The unique identifier for the re-associated participant. This parameter is essential to ensure that the statements retrieved are specific to the correct participant.
          required: true
          schema:
            type: string
        - name: reassocFlexAccountId
          in: query
          description: The unique identifier for the re-associated flex account. This ID is required to accurately filter the statements for the specific flex account.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/decryptQuery'
      responses:
        '200':
          description: 'Successfully retrieved the list of HSA statements for the specified re-associated account. The response contains an array of statement objects, each representing a historical statement linked to the participant''s account.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Statement-StatementResponseArray'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Business-Statement-StatementResponseArray'
    parameters:
      - $ref: '#/components/parameters/tpaIdPath'
      - $ref: '#/components/parameters/employerIdPath'
      - $ref: '#/components/parameters/participantIdPath'
  '/services/documents/HSAStatements/reassoc/{tpaId}/{employerId}/{participantId}/reassociatedPDF':
    get:
      tags:
        - HSAStatements
      summary: Get HSA Statement PDF for reassociated account.
      description: 'Retrieve the HSA Statement PDF for a reassociated account, identified by the unique identifiers of TPA, Employer, and Participant. This operation is useful for obtaining the latest statement for accounts that have undergone reassociation.'
      operationId: HSAStatements_GetReassocHSAStatementPDF_2106
      parameters:
        - name: flexAccountId
          in: query
          description: The unique identifier for the flex account associated with the participant. This value is required to retrieve the correct statement.
          required: true
          schema:
            type: string
        - name: reassocTpaId
          in: query
          description: The unique identifier for the reassociated TPA. This is necessary to ensure the statement corresponds to the correct administrative instance.
          required: true
          schema:
            type: string
        - name: reassocEmployerId
          in: query
          description: The unique identifier for the reassociated employer. This helps in filtering the statement to the appropriate employer's account.
          required: true
          schema:
            type: string
        - name: reassocParticipantId
          in: query
          description: The unique identifier for the reassociated participant. This is crucial for retrieving the specific participant's statement.
          required: true
          schema:
            type: string
        - name: reassocFlexAccountId
          in: query
          description: The unique identifier for the reassociated flex account. This ensures the correct account statement is fetched.
          required: true
          schema:
            type: string
        - name: documentKey
          in: query
          description: The key that identifies the specific document being requested. This integer value is essential for fetching the correct statement.
          required: true
          schema:
            type: integer
            format: int32
        - $ref: '#/components/parameters/decryptQuery'
        - name: statementOption
          in: query
          description: 'Options for the HSA statement, represented as an integer. Each option corresponds to a specific action or state related to the statement, such as regeneration or error resolution.'
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: 'Successfully retrieved the HSA Statement PDF. The response contains the requested document in either JSON or XML format, depending on the client''s request.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicesDocumentsHSAStatementsReassocTpaIdEmployerIdParticipantIdReassociate'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServicesDocumentsHSAStatementsReassocTpaIdEmployerIdParticipantIdReassociate'
    parameters:
      - $ref: '#/components/parameters/tpaIdPath'
      - $ref: '#/components/parameters/employerIdPath'
      - $ref: '#/components/parameters/participantIdPath'
  '/services/documents/HSATaxForms/{tpaId}/{employerId}/{participantId}':
    get:
      tags:
        - HSATaxForms
      summary: Get Account Holder Tax Form Info.
      description: 'Retrieve tax form information for a specific account holder, identified by TPA ID, Employer ID, and Participant ID. This endpoint is used to access tax form details relevant to the participant''s account.'
      operationId: HSATaxForms_GetTaxFormsList
      parameters:
        - name: flexAcctId
          in: query
          description: 'Flex Account Id, which uniquely identifies the benefit account within the WealthCare system.'
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/decryptQuery'
      responses:
        '200':
          description: Successfully retrieved tax form information for the specified account holder.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Mobile-Business-Document-TaxFormInfoArray'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Mobile-Business-Document-TaxFormInfoArray'
    parameters:
      - $ref: '#/components/parameters/tpaIdPath'
      - $ref: '#/components/parameters/employerIdPath'
      - $ref: '#/components/parameters/participantIdPath'
  '/services/documents/HSATaxForms/reassoc/{tpaId}/{employerId}/{participantId}':
    get:
      tags:
        - HSATaxForms
      summary: Get list of tax forms for reassociated account.
      description: Retrieve a list of tax forms associated with a participant's account that has been reassociated with a new TPA or employer. This operation is useful for accessing tax documentation when account details have changed.
      operationId: HSATaxForms_GetReassocTaxFormsList
      parameters:
        - name: flexAccountId
          in: query
          description: 'The unique identifier for the flex account, used to specify which account''s tax forms to retrieve.'
          required: true
          schema:
            type: string
        - name: reassocTpaId
          in: query
          description: 'The unique identifier for the reassociated TPA, indicating the new third-party administrator managing the account.'
          required: true
          schema:
            type: string
        - name: reassocEmployerId
          in: query
          description: 'The unique identifier for the reassociated employer, reflecting the change in employer associated with the participant''s account.'
          required: true
          schema:
            type: string
        - name: reassocParticipantId
          in: query
          description: 'The unique identifier for the reassociated participant, used to specify which participant''s tax forms are being requested.'
          required: true
          schema:
            type: string
        - name: reassocFlexAccountId
          in: query
          description: 'The unique identifier for the reassociated flex account, used to retrieve tax forms specific to that account.'
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/decryptQuery'
      responses:
        '200':
          description: Successfully retrieved the list of tax forms for the specified reassociated account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Mobile-Business-Document-TaxFormInfoArray'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Mobile-Business-Document-TaxFormInfoArray'
    parameters:
      - $ref: '#/components/parameters/tpaIdPath'
      - $ref: '#/components/parameters/employerIdPath'
      - $ref: '#/components/parameters/participantIdPath'
  '/services/documents/HSATaxForms/deliveryOption/{tpaId}/{employerId}/{participantId}':
    get:
      tags:
        - HSATaxForms
      summary: Get Tax Forms Delivery Options.
      description: 'Retrieve the available delivery options for HSA tax forms for a specific participant, identified by their TPA ID, Employer ID, and Participant ID. This endpoint is useful for determining how tax forms can be delivered to participants based on their preferences or account settings.'
      operationId: HSATaxForms_GetTaxFormsDeliveryOption
      parameters:
        - name: flexAcctId
          in: query
          description: 'A unique identifier for the flex account, required to specify which account''s delivery options are being requested.'
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/decryptQuery'
      responses:
        '200':
          description: Successfully retrieved the delivery options for the specified participant's HSA tax forms.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicesDocumentsHSATaxFormsDeliveryOptionTpaIdEmployerIdParticipantIdGet200'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServicesDocumentsHSATaxFormsDeliveryOptionTpaIdEmployerIdParticipantIdGet200'
    put:
      tags:
        - HSATaxForms
      summary: Set Tax Forms Delivery Options.
      description: 'Update the delivery options for tax forms associated with a specific participant, allowing for electronic or paper delivery preferences.'
      operationId: HSATaxForms_SetTaxFormsDeliveryOption
      parameters:
        - name: flexAcctId
          in: query
          description: 'A unique identifier for the flex account, used to specify which account''s delivery options are being updated.'
          required: true
          schema:
            type: string
        - name: delOpt
          in: query
          description: 'Specifies the delivery options: E for Electronic Only, B for Both Paper and Electronic. This determines how the participant will receive their tax forms.'
          required: true
          schema:
            type: integer
            format: int32
        - $ref: '#/components/parameters/decryptQuery'
      responses:
        '200':
          description: Successfully updated the delivery options for the specified participant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicesDocumentsHSATaxFormsDeliveryOptionTpaIdEmployerIdParticipantIdPut200'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServicesDocumentsHSATaxFormsDeliveryOptionTpaIdEmployerIdParticipantIdPut200'
    parameters:
      - $ref: '#/components/parameters/tpaIdPath'
      - $ref: '#/components/parameters/employerIdPath'
      - $ref: '#/components/parameters/participantIdPath'
  /services/documents/HSATaxForms/pdfReaderCheck:
    get:
      tags:
        - HSATaxForms
      summary: Get PDF Reader Check Data.
      description: Retrieve data to check the compatibility of PDF readers with HSA tax forms. This endpoint is useful for ensuring that users can properly view and interact with PDF documents related to their HSA accounts.
      operationId: HSATaxForms_GetPDFReaderCheckData
      responses:
        '200':
          description: Successfully retrieved PDF Reader Check Data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.Document.PDFReaderCheckData'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.Document.PDFReaderCheckData'
  '/services/documents/HSATaxForms/{tpaId}/{employerId}/{participantId}/taxFormPdf':
    get:
      tags:
        - HSATaxForms
      summary: Get Account Holder Tax Form PDF.
      description: 'Retrieve the PDF version of the tax form for a specific account holder, identified by their unique TPA ID, Employer ID, and Participant ID. This operation is typically used for obtaining tax documentation required for filing purposes.'
      operationId: HSATaxForms_GetTaxFormPDF_2106
      parameters:
        - name: flexAcctId
          in: query
          description: 'Flex Account Id, which uniquely identifies the benefit account associated with the participant. This parameter is required to retrieve the correct tax form.'
          required: true
          schema:
            type: string
        - name: documentKey
          in: query
          description: 'Document Key, an integer that specifies the particular tax document to be retrieved. This key is essential for identifying the correct document.'
          required: true
          schema:
            type: integer
            format: int32
        - $ref: '#/components/parameters/decryptQuery'
      responses:
        '200':
          description: 'OK - The request was successful, and the tax form PDF is returned in the response body. The content type may vary based on the requested format (JSON or XML).'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicesDocumentsHSATaxFormsTpaIdEmployerIdParticipantIdTaxFormPdfGet200Appl'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServicesDocumentsHSATaxFormsTpaIdEmployerIdParticipantIdTaxFormPdfGet200Appl'
    parameters:
      - $ref: '#/components/parameters/tpaIdPath'
      - $ref: '#/components/parameters/employerIdPath'
      - $ref: '#/components/parameters/participantIdPath'
  '/services/documents/HSATaxForms/reassoc/{tpaId}/{employerId}/{participantId}/pdf':
    get:
      tags:
        - HSATaxForms
      summary: Get Tax Form PDF for reassociated account.
      description: 'Retrieve the PDF version of the tax form for a reassociated account, identified by the unique identifiers of TPA, Employer, and Participant.'
      operationId: HSATaxForms_GetReassocTaxFormPDF_2106
      parameters:
        - name: flexAccountId
          in: query
          description: The unique identifier for the flex account associated with the participant. This value is required to retrieve the specific tax form.
          required: true
          schema:
            type: string
        - name: reassocTpaId
          in: query
          description: The unique identifier for the reassociated TPA. This is necessary to ensure the correct association is used when retrieving the tax form.
          required: true
          schema:
            type: string
        - name: reassocEmployerId
          in: query
          description: The unique identifier for the reassociated employer. This identifier is used to link the tax form to the correct employer account.
          required: true
          schema:
            type: string
        - name: reassocParticipantId
          in: query
          description: The unique identifier for the reassociated participant. This is essential for retrieving the correct tax form for the participant.
          required: true
          schema:
            type: string
        - name: reassocFlexAccountId
          in: query
          description: The unique identifier for the reassociated flex account. This is required to ensure the correct account is referenced in the request.
          required: true
          schema:
            type: string
        - name: documentKey
          in: query
          description: The key that identifies the specific document to retrieve. This integer value is crucial for fetching the correct tax form.
          required: true
          schema:
            type: integer
            format: int32
        - $ref: '#/components/parameters/decryptQuery'
      responses:
        '200':
          description: Successfully retrieved the tax form PDF.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicesDocumentsHSATaxFormsReassocTpaIdEmployerIdParticipantIdPdfGet200Appl'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServicesDocumentsHSATaxFormsReassocTpaIdEmployerIdParticipantIdPdfGet200Appl'
    parameters:
      - $ref: '#/components/parameters/tpaIdPath'
      - $ref: '#/components/parameters/employerIdPath'
      - $ref: '#/components/parameters/participantIdPath'
  '/services/employer/employeraccount/employerfundinginvoices/{tpaId}':
    get:
      tags:
        - Employer
      summary: Get Employer Funding Invoice Details.
      description: 'Retrieve detailed information about employer funding invoices based on specified search criteria, including date range and optional identifiers.'
      operationId: Employer_GetEmployerFundingInvoices
      parameters:
        - name: beginDte
          in: query
          description: 'Format - date-time (as date-time in RFC3339). The starting date for the invoice search, inclusive.'
          required: true
          schema:
            type: string
            format: date-time
        - name: endDte
          in: query
          description: 'Format - date-time (as date-time in RFC3339). The ending date for the invoice search, inclusive.'
          required: true
          schema:
            type: string
            format: date-time
        - name: emprId
          in: query
          description: Unique identifier for the employer. This parameter is optional and can be used to filter results to a specific employer.
          schema:
            type: string
        - name: invoiceNumber
          in: query
          description: Identifier associated with the invoice. This parameter is optional and allows for filtering by a specific invoice number.
          schema:
            type: string
        - $ref: '#/components/parameters/decryptQuery'
      responses:
        '200':
          description: OK - Successfully retrieved the employer funding invoice details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.Employer.EmprFundingInvoice'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.Employer.EmprFundingInvoice'
    parameters:
      - $ref: '#/components/parameters/tpaIdPath'
  '/services/employer/employeraccount/{tpaId}/{employerId}/{planKey}/{emprflexacctkey}':
    get:
      tags:
        - EmployerAccount
      summary: Get Employer Bank Account Details.
      description: 'Retrieve detailed information about a specific employer''s bank account using unique identifiers such as TPA ID, Employer ID, Plan Key, and Employer Flex Account Key.'
      operationId: EmployerAccount_GetEmployerAccount
      parameters:
        - $ref: '#/components/parameters/decryptQuery'
      responses:
        '200':
          description: Successfully retrieved employer bank account details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Mobile-Business-Employer-EmployerAccountArra'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Mobile-Business-Employer-EmployerAccountArra'
    parameters:
      - $ref: '#/components/parameters/tpaIdPath'
      - $ref: '#/components/parameters/employerIdPath'
      - name: planKey
        in: path
        description: Plan Key
        required: true
        schema:
          type: integer
          format: int32
      - name: emprflexacctkey
        in: path
        description: Employer Flex Account Key
        required: true
        schema:
          type: integer
          format: int32
  '/services/employer/employertransaction/getemployertransactions/{tpaId}/{employerId}':
    get:
      tags:
        - EmployerTransaction
      summary: Get Employer Real Time Funding Transactions List.
      description: 'Retrieve a list of real-time funding transactions for a specific employer, identified by TPA ID and Employer ID. This endpoint is useful for obtaining transaction details related to employer funding activities within a specified date range.'
      operationId: EmployerTransaction_GetEmployerTransactions
      parameters:
        - name: emptFlexAcctKey
          in: query
          description: Optional key representing an empty employer flex account. This parameter can be used to filter results based on specific account criteria.
          schema:
            type: integer
            format: int32
        - name: startDte
          in: query
          description: The start date for filtering transactions. This date should be in ISO 8601 format (YYYY-MM-DD) and is used to specify the beginning of the transaction search range.
          schema:
            type: string
        - name: endDte
          in: query
          description: The end date for filtering transactions. This date should also be in ISO 8601 format (YYYY-MM-DD) and is used to specify the conclusion of the transaction search range.
          schema:
            type: string
        - $ref: '#/components/parameters/decryptQuery'
      responses:
        '200':
          description: 'Successfully retrieved the list of employer funding transactions. The response contains an array of transaction objects, each detailing specific funding activities associated with the employer.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicesEmployerEmployertransactionGetemployertransactionsTpaIdEmployerIdGet'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServicesEmployerEmployertransactionGetemployertransactionsTpaIdEmployerIdGet'
    parameters:
      - $ref: '#/components/parameters/tpaIdPath'
      - $ref: '#/components/parameters/employerIdPath'
  /services/employer/employertransaction/employertxnrequest:
    post:
      tags:
        - EmployerTransaction
      summary: Insert Employer Transaction.
      description: 'This endpoint allows you to insert a new employer transaction into the system, facilitating the recording of financial activities related to an employer''s account.'
      operationId: EmployerTransaction_InsertTransaction
      requestBody:
        description: 'Contains the details of the employer transaction to be recorded, including identifiers and transaction specifics.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.Employer.EmployerTxnRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.Employer.EmployerTxnRequest'
      responses:
        '200':
          description: Successfully processed the employer transaction request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.Transactions.TransactionResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.Transactions.TransactionResponse'
  '/services/enrollment/template/attributes/{tpaId}/{employerId}/{templateKey}':
    get:
      tags:
        - Enrollment
      summary: Get TPA/Product Partner enrollment template attributes
      description: 'Retrieve the enrollment template attributes for a specific TPA or product partner, identified by their unique identifiers. This endpoint is useful for obtaining configuration settings related to enrollment templates, which can include various display and interaction options.'
      operationId: Enrollment_GetEnrollmentUITemplate
      parameters:
        - name: isPpTemplate
          in: query
          description: Indicates whether the template is a product partner template (true) or a TPA template (false). This parameter helps in distinguishing between different types of templates.
          schema:
            type: boolean
        - name: attribute
          in: query
          description: 'Specifies the enrollment template setting to retrieve. Options include settings for headers, announcements, demographics, and more, allowing for granular control over the template''s configuration.'
          schema:
            enum:
              - None
              - HeaderFooterSetting
              - AnnouncementSetting
              - IntroductionSetting
              - DemographicsSetting
              - EmailTemplateSetting
              - PlanInfoSetting
              - PaperEStatementTaxFormSetting
              - ProxyStatementSetting
              - BeneficiarySetting
              - IDVerificationAuthenticationSetting
              - SpecialInfoSetting
              - OtherInfoSetting
              - DisclosureSetting
              - AgreementSetting
              - ESignatureSetting
              - All
            type: string
        - $ref: '#/components/parameters/decryptQuery'
      responses:
        '200':
          description: Successfully retrieved the enrollment template attributes. The response contains the requested settings in JSON or XML format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.Enrollment.EnrollmentUITemplate'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.Enrollment.EnrollmentUITemplate'
    parameters:
      - $ref: '#/components/parameters/tpaIdPath'
      - $ref: '#/components/parameters/employerIdPath'
      - name: templateKey
        in: path
        description: Template Key
        required: true
        schema:
          type: integer
          format: int32
  '/services/enrollment/beneficiaries/{tpaId}/{employerId}/{participantId}/{flexAcctId}/{beneficiaryTypeCde}':
    get:
      tags:
        - Enrollment
      summary: Get list of beneficiary
      description: 'Retrieve a list of beneficiaries associated with a specific participant, identified by their unique identifiers. This endpoint is useful for obtaining beneficiary information for enrollment or review purposes.'
      operationId: Enrollment_GetBeneficiaries
      parameters:
        - $ref: '#/components/parameters/decryptQuery'
      responses:
        '200':
          description: Successfully retrieved the list of beneficiaries.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Mobile-Business-Employee-BeneficiaryArray'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft-Contracts-DataContracts-Mobile-Business-Employee-BeneficiaryArray'
    parameters:
      - $ref: '#/components/parameters/tpaIdPath'
      - $ref: '#/components/parameters/employerIdPath'
      - $ref: '#/components/parameters/participantIdPath'
      - $ref: '#/components/parameters/flexAcctIdPath'
      - name: beneficiaryTypeCde
        in: path
        description: Beneficiary Type Code (Primary or Contigent)
        required: true
        schema:
          enum:
            - None
            - Primary
            - Contigent
          type: string
  '/services/enrollment/beneficiary/{tpaId}/{employerId}/{participantId}/{flexAcctId}/{beneficiaryTypeCde}/{beneficiaryNumber}':
    get:
      tags:
        - Enrollment
      summary: Get beneficiary details
      description: 'Retrieve detailed information about a specific beneficiary associated with a participant''s account, identified by unique identifiers including TPA ID, Employer ID, Participant ID, and Flex Account ID.'
      operationId: Enrollment_GetBeneficiary
      parameters:
        - $ref: '#/components/parameters/decryptQuery'
      responses:
        '200':
          description: Successfully retrieved beneficiary details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.Employee.Beneficiary'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.Employee.Beneficiary'
    delete:
      tags:
        - Enrollment
      summary: Delete a beneficiary
      description: Deletes a specified beneficiary from the enrollment records based on the provided unique identifiers. This operation is typically used when a beneficiary is no longer associated with a participant's account.
      operationId: Enrollment_DeleteBeneficiary
      parameters:
        - $ref: '#/components/parameters/decryptQuery'
      responses:
        '200':
          description: Successfully deleted the beneficiary. The response indicates that the operation was completed without errors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicesEnrollmentBeneficiaryTpaIdEmployerIdParticipantIdFlexAcctIdBeneficia'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServicesEnrollmentBeneficiaryTpaIdEmployerIdParticipantIdFlexAcctIdBeneficia'
    parameters:
      - $ref: '#/components/parameters/tpaIdPath'
      - $ref: '#/components/parameters/employerIdPath'
      - $ref: '#/components/parameters/participantIdPath'
      - $ref: '#/components/parameters/flexAcctIdPath'
      - name: beneficiaryTypeCde
        in: path
        description: Beneficiary Type Code (Primary or Contigent)
        required: true
        schema:
          enum:
            - None
            - Primary
            - Contigent
          type: string
      - name: beneficiaryNumber
        in: path
        description: Beneficiary Number
        required: true
        schema:
          type: integer
          format: int32
  '/services/enrollment/beneficiary/{tpaId}/{employerId}/{participantId}':
    post:
      tags:
        - Enrollment
      summary: Save beneficiary details
      description: Save beneficiary details
      operationId: Enrollment_SaveBeneficiary
      parameters:
        - $ref: '#/components/parameters/decryptQuery'
      requestBody:
        description: BenSoft.Contracts.DataContracts.Mobile.Business.Employee.Beneficiary
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.Employee.Beneficiary'
          application/xml:
            schema:
              $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.Employee.Beneficiary'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.Employee.Beneficiary'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.Employee.Beneficiary'
    parameters:
      - $ref: '#/components/parameters/tpaIdPath'
      - $ref: '#/components/parameters/employerIdPath'
      - $ref: '#/components/parameters/participantIdPath'
  /services/enrollment/idcheck/verification:
    post:
      tags:
        - Enrollment
      summary: ID verification
      description: Initiates an ID verification process for a participant based on the provided identifiers and details. This operation is essential for confirming the identity of participants during enrollment or account management processes.
      operationId: Enrollment_IDVerification
      requestBody:
        description: ID Check Details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.Enrollment.IdCheckRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.Enrollment.IdCheckRequest'
      responses:
        '200':
          description: 'Successful ID verification, returning the verification result.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Business.IdCheck.IdCheckResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Business.IdCheck.IdCheckResponse'
  /services/enrollment/idcheck/get/questions:
    post:
      tags:
        - Enrollment
      summary: Get ID authentication questions.
      description: Retrieve a set of ID authentication questions to verify participant identity during the enrollment process.
      operationId: Enrollment_GetIdAQuestions
      requestBody:
        description: ID Check Details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.Enrollment.IdCheckRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.Enrollment.IdCheckRequest'
      responses:
        '200':
          description: Successfully retrieved ID authentication questions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Business.IdCheck.IdAQuestions'
            application/xml:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Business.IdCheck.IdAQuestions'
  /services/enrollment/idcheck/submit/answers:
    post:
      tags:
        - Enrollment
      summary: Answer ID authentication questions
      description: Submit answers to the ID authentication questions to verify participant identity.
      operationId: Enrollment_SubmitIdAnswers
      requestBody:
        description: 'ID Answers Details, including participant responses to authentication questions necessary for identity verification.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.Enrollment.IdAAnswers'
          application/xml:
            schema:
              $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Mobile.Business.Enrollment.IdAAnswers'
      responses:
        '200':
          description: Successful response indicating the ID check process has completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenSoft.Contracts.DataContracts.Business.IdCheck.IdCheckResponse'
            application/xml:
              schema:
[...]
